{% extends "base.html" %}
{% block title %}Bitcoin Historical Data{% endblock %}
{% block page_content %}
{% import "bootstrap/wtf.html" as wtf %}
<head>
  <title>Historical</title>
  <script src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js'></script>
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
</head>

<body>
  <div class="col-md-12">
    <h1>Historical Price</h1>
    <a class="btn btn-success" href='/history'>Overview</a>
    <a class="btn btn-info" href='/history/daily'>Daily Average</a>
    <a class="btn btn-primary" href='/history/day'>Day of Year Average</a>
    <a class="btn btn-warning" href='/history/monthly'>Monthly Average</a>
    <div class="wrapper">
    
    <canvas id="myChart" width="1000" height="500"></canvas>
    </div>
  </div>
    
    <script>
      // reference: https://gitlab.com/patkennedy79/flask_chartjs_example
        var chartData = {
            labels : [{% for item in labels %}
                    "{{item}}", 
                    {% endfor %}],
            datasets : [{
            label: '{{ title }}',
            fill: true,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 12,
            data : [{% for item in values %}
                {{item}},
              {% endfor %}],
            spanGaps: false
            }]
        }
 
        // get chart canvas
        var ctx = document.getElementById("myChart").getContext("2d");
 
        // create the chart using the chart canvas
        var myChart = new Chart(ctx, {
            type: 'line',
            data: chartData,
            options:{
              legend:{
                align: 'end'
              }
            }
        });
    </script>

</body>

{% endblock %}