{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block page_content %}
<!-- 
<h1>Hello World!</h1>
<a class="btn btn-info btn-lg" href="/history"> Start </a> -->
<style>
        /* .header { 
          background-color: #1abc9c;; 
          color: #264d73;
          padding: 100px;
          text-align: left;
          width: 100%;
          margin: 0;
          /* font-size: 100px; 
        } */ 
        .header {
          padding: 80px;
          text-align: center;
          font-size: 35px;
          height: ;
        }
        body{
          background-color: #f1f1f1;
        }
        .h1{
          font-size: 50px;
        }

        
</style>
        
<body class="text-center">

      <div class="header">
        <h1 class="cover-heading">Automated Real-Time Trading For Bitcoin</h1> 
        <p class="lead">Welcome! We will provide you real-time Bitcoin price quotes and apply our AI trading advisor to help you make BUY/SELL decisions! </p> 
        <!-- <a class="btn btn-info btn-lg" href="/realtime"> Start </a> -->
        <div class="bg">
            <img src="//live.staticflickr.com/1776/29125864638_4ef925aba0_z.jpg" alt="Bitcoin" class="center">
        </div>
      </div>

</body>

{% endblock %}